body {
  font-family: "Press Start 2P", serif;
}

* {
  text-align: justify;
}
#history-lesson {
  text-align: center;
}
#history-lesson {
  font-size: 50px;
}
#history-lesson {
  color: red;
}
html {
  background-color: black;
}
.colossus {
  color: green;
}

.baby {
  color: green;
}

.XEROX {
  color: green;
}

h2 {
  text-align: center;
}

h2 {
  background-color: ghostwhite;
}
